* {
       -webkit-transition: 0.3s;
       transition: 0.3s;
     }

     html {
       width: 100%;
       height: 100%;
     }

     body {
       font-family: "Open Sans", sans-serif;
       font-size: 14px;
       font-weight: 300;
       letter-spacing: 0.2px;
       color: #fff;
       background: #333333;
       height: 100%;
       width: 100%;
     }

     #game-container {
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       height: 100%;
       width: 100%;
       padding: 14px;
       box-sizing: border-box;
     }

     .cardRow {
       display: flex;
     }

     .box {
       height: 150px;
       width: 200px;
       background-color: #e8e8e8;
     }

     .card--container {
       -webkit-perspective: 1000px;
       perspective: 1000px;
       height: 200px;
       width: 150px;
       margin: 30px;
     }

     .card--container * {
       pointer-events: none;
     }

     .card--container.flip .card--flipper {
       -webkit-transform: rotateY(180deg);
       transform: rotateY(180deg);
     }

     .card--container:hover {
       -webkit-transform: scale(1.1);
       transform: scale(1.1);
     }
     .card--container:hover .side,
     .card--container:hover .side--a,
     .card--container:hover .side--b {
       box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
         0 10px 10px rgba(0, 0, 0, 0.22);
     }
     .card--container:hover i {
       -webkit-animation-play-state: running;
       animation-play-state: running;
     }

     .card--flipper {
       position: relative;
       -webkit-transform-style: preserve-3d;
       transform-style: preserve-3d;
     }

     .side,
     .side--a,
     .side--b {
       -webkit-backface-visibility: hidden;
       backface-visibility: hidden;
       position: absolute;
       top: 0;
       left: 0;
       height: 200px;
       width: 150px;
       box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
         0 6px 6px rgba(0, 0, 0, 0.23);
     }

     .side--a {
       z-index: 2;
       -webkit-transform: rotateY(0deg);
       transform: rotateY(0deg);
       background-color: #50abf1;
       border: 8px solid #50abf1;
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
       -ms-flex-direction: column;
       flex-direction: column;
       -webkit-box-align: center;
       -ms-flex-align: center;
       align-items: center;
       -webkit-box-pack: justify;
       -ms-flex-pack: justify;
       justify-content: space-between;
       color: #50abf1;
     }

     .side--b {
       -webkit-transform: rotateY(180deg);
       transform: rotateY(180deg);
       background-color: #24cf5f;
       border: 8px solid #24cf5f;
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
       -ms-flex-direction: column;
       flex-direction: column;
       -webkit-box-align: center;
       -ms-flex-align: center;
       align-items: center;
       -webkit-box-pack: justify;
       -ms-flex-pack: justify;
       justify-content: space-between;
       color: #24cf5f;
     }

     body {
      height: fit-content;
      background-image: url("../img/bg3.jpg");
      background-repeat: repeat;
      background-size: cover;
     }

     h3 {
       font-size: 2em;
       margin-bottom: 2em;
       color: #333333;
     }

     img {
       width: 100%;
       height: 100%;
       border-radius: 5px;
     }

     #game-over-container {
       height: 100vh;
       position: fixed;
       pointer-events: none;
       transition: opacity 1s;
       text-align: center;
       background-color: rgba(255, 255, 255, 0.6);
       color: black;
       display: flex;
       flex-direction: column;
       justify-content: center;
       top: 0;
       width: 100vw;
       opacity: 0;
     }

     .retry{
     display: block;
     margin-left:auto;
     margin-right: auto;
     width: 250px;
     position: relative;
     top:
}
